<app-header />

<!-- Lista de archivos -->
<div class="file-list-container pb-16">
  <div
    class="{{
      isSmallScreen ? 'grid grid-cols-1' : 'grid grid-cols-3'
    }} gap-2 {{ !isSmallScreen ? 'mx-10' : '' }} py-5"
  >
    @if(currentDirectory) { @for(child of currentDirectory.children; track
    child) {
    <mat-card
      class="file-card select-none mx-9 my-2"
      (click)="!child.isFile ? changeCurrentDirectory(child) : viewFile(child)"
    >
      <mat-card-content>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <mat-icon>{{ child.isFile ? "picture_as_pdf" : "folder" }}</mat-icon
            >&nbsp;
            <span class="{{ child.isFile ? 'truncate-text' : '' }}">{{
              child.name
            }}</span>
          </div>
          @if (child.isFile) {
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <!-- Menú de opciones -->
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="viewHistory(child)">
                <mat-icon>history</mat-icon>
                <span>Ver historial de vistas</span>
              </button>
            </mat-menu>
          }
        </div>
      </mat-card-content>
    </mat-card>
    } } @else { @for(directory of allDirectories; track directory) {
    <mat-card
      class="file-card select-none mx-9 my-2"
      (click)="
        !directory.isFile
          ? changeCurrentDirectory(directory)
          : viewFile(directory)
      "
    >
      <mat-card-content>
        <div class="flex items-center">
          <mat-icon>{{
            directory.isFile ? "picture_as_pdf" : "folder"
          }}</mat-icon
          >&nbsp;
          <span class="{{ directory.isFile ? 'truncate-text' : '' }}">{{
            directory.name
          }}</span>
          @if (directory.isFile) {
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <!-- Menú de opciones -->
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="viewHistory(directory)">
                <mat-icon>history</mat-icon>
                <span>Ver historial de vistas</span>
              </button>
            </mat-menu>
          }
        </div>
      </mat-card-content>
    </mat-card>
    } }
  </div>
</div>
@if(isLoading) {
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner>
}
